{% extends 'base.html' %}
{% load static %}

{% block title %}Пароль изменён{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Пароль изменён</h1>
                    <span class="subheading">Поздравляем! Вы успешно изменили пароль.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="card" style="background: transparent;">
        <h1>Пароль изменён</h1>
        <p>Поздравляем! Вы успешно изменили пароль своего аккаунта. Используйте его для</p>
    </div>

    <!-- Кнопка с полными стилями -->
    <button onclick="window.location.href='{% url 'users:login' %}'" class="custom-submit-btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Войти в систему
    </button>
</div>
{% endblock %}
